.map
{
	width:				561px;
	height:				450px;
	background:	url(map.png) left top no-repeat;
	position:			relative;
}

.map .overlay
{
	width:				561px;
	height:				450px;
	background:	url(map.png) 561px top no-repeat;
	position:			absolute;
	top:					0px;
	left:					0px;
	z-index:			1;
}

.map img
{
	position: relative;
	width: 561px;
	height:				450px;
	top: 0px;
	left: 0px;
	z-index: 2;
	border : 3px black solid;
	border-radius : 	5px;
}

.map .tooltip
{
	position:			fixed;
	border-radius:		5px;
	color:				#FFF;
	background:			#000;
	padding:			0px 10px;
	display:			inline;
	top:				0px;
	left:				0px;
	z-index:			3;
	text-align:			center;
}

.infoBox
{
	width:		400px;
	position:			fixed;
	border-radius:		5px;
	color:				#FFF;
	background:			#000;
	padding:			10px 10px;
	display:			inline;
	top:				0px;
	left:				550px;
	z-index:			3;
	text-align:			left;
}

.infoBox .information
{
	text-align: right;
}

.infoBox #country_flag
{
	height : 	80px;
}